:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: orange;
    --secundario: black;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/*  Globales **/
html {

    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}


*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}

/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: green !important;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
